.classy-banner {
    padding: 10px;
    background-color: #317195
}

.classy-banner img {
    margin: 0;
    height: 60px;
    position: relative
}

.classy-header {
    color: #f9f2e3;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    display: inline-block
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40
}

.btn-default:active,
.btn-default:active:focus,
.btn.active:focus {
    outline: none;
    border: 1px solid #3e8fd5;
    background-color: #426ca8;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .175);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .175)
}

.btn-default:hover {
    background-color: #3e8fd5;
    border: 1px solid #426ca8;
    outline: none
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.btn-default:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
}

.recording-color,
.btn-default,
.btn-default.btn-h-icon span {
    background-color: #226bb0
}

.btn-default,
.btn-default span {
    color: #fff;
    border-color: #2e6da4
}

.helion-image {
    color: #337ab7
}

.icon-user {
    background-color: #dac294;
    color: #fff
}

#logout-link {
    background-color: #dac294;
    color: #fff
}

.navbar-default {
    background-color: #dac294;
    color: #fff
}

.navbar-header>.navbar-brand {
    background-color: #dac294;
    color: #fff
}

.navbar-header>.navbar-brand:hover {
    background-color: #dac294;
    color: #337ab7
}

.navbar-header>.navbar-brand>span {
    vertical-align: baseline;
    color: #fff
}

.navbar .navbar-collapse ul:not(.dropdown-menu)>li>a {
    color: #fff
}

.navbar .navbar-collapse ul:not(.dropdown-menu)>li>a:hover {
    color: #337ab7;
    background-color: #dac294
}

.navbar-collapse collapse in {
    background-color: #dac294;
    color: #fff
}

.navbar-default .navbar-toggle {
    background-color: #dac294;
    color: #fff
}

.navbar-toggle {
    background-color: #dac294;
    color: #fff
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

#collapsed-navbar-button {
    background-color: #dac294;
    color: #fff
}

.help-box,
.pullbox,
.results-toolbar,
.pullbox h1,
.pullbox h1,
.pullbox h1,
.pullbox h1,
.pullbox h1 {
    background-color: #77903c
}

.help-box,
.pullbox,
.results-toolbar,
.pullbox h1,
.pullbox h1,
.pullbox h1,
.pullbox h1,
.pullbox h1,
.label-document-number {
    color: #fff
}

.help-box input,
.pullbox input,
.results-toolbar input {
    background-color: #fff;
    color: initial
}

@media(max-width:465px) {
    .classy-header h1 {
        font-size: 30px
    }
}

@media(max-width:330px) {
    .classy-header h1 {
        font-size: 21px
    }
}

@media(max-width:237px) {
    .classy-header h1 {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden
    }
}

@media(max-width:1130px) {
    .classy-banner img {
        height: 35px;
        position: relative
    }
}

@media(max-width:898px) {
    .classy-banner img {
        display: none;
        max-width: none
    }
}