@font-face {
    font-family:"Oswald";
    src: url("/assets/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family:"Barlow";
    src: url("/assets/Barlow-Italic.ttf");
}

.TestOswald {
    font-family: 'Oswald';
    font-size: large;
    color:blueviolet;
}

.TestBarlow {
    font-family: 'Barlow';
    font-size: large;
    color:blueviolet;
}

.nav-section {
    display: flex;
    flex-direction: row;
}

a {
    padding: 3px;
}

.clock {
    font-family: cursive;
    font-size: 18pt;
    margin-top: 5px;
}

.map-section {
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
    flex-grow: 1;
}
.simplemap {
    padding: 2px;
    flex-grow: 1;
    align-items: stretch;
}
.overview {
    width: 195px;
    height: 155px;
    color: lightgreen;
    background-size: cover;
}

.table-section {
    display: flex;
    flex-direction: row;
}
.flx {
    border: 2px solid green;
    background-color: white;
    flex-grow: 1;
}

.print-modal {
    display: flex;
    flex-direction: row;
    margin: 8px;
}
.print-title {
    flex-grow: 1;
}
.print-preview {
    flex-grow: 1;
}

#home {
    font-family: arial;
    color: rgb(71, 111, 8);
}

#about {
    font-family: arial;
    color: rgb(171, 11, 8);
}

