h1 {
    background-color: pink;
    color: darkred;
    font-family: sans-serif;
}

#normal_picturename {
    font-size: 12pt;
}
#em_picturename {
    font-size: 22pt;
    font-weight: bold;
}

.bird_picture {
    content: url("/assets/Proud.jpg");
    width: 200px;
    height: 220px;
    margin: 10px;
}
.animated_picture {
    content: url("/assets/walking_pigeons.gif");
    width: 200px;
    height: 220px;
    margin: 10px;
    background-color: rgb(103, 130, 170);
}
.beaver_picture {
    content: url("/assets/beaver.jpg");
    width: 200px;
    height: 220px;
    margin: 10px;
}

button {
    color: white;
    background-color: rgb(170, 31, 115);
}

#map {
    color: blue;
    height: 200px;
    background-color: rgb(182, 172, 171);
    margin: 10px;
}

#scalebar {
    color: rgb(62, 162, 60);
}

#desc {
    color: violet;
    font-style: italic;
    font-size: 15pt;
}

footer {
    background-color: pink;
    color: #C04040;
    margin-top: 20px;
}
